#page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }
  
  .hero {
      text-align: center;
      margin: 2%;
  }

  #about {
      text-align: center;
      margin: 2%;
  }

  #contact {
      text-align: center;
      margin: 2%;
  }